doctype 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(mame="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/main.css")
        title Xplode, The Game
    body
        #wrap
            include includes/navbar
            .container
                .page-header
                    h1 Xplode, The Game
                #content
                #push

        #footer
            .container
                p.muted.credit
                    | Example courtesy
                    a(href="http://martinbean.co.uk") Martin Bean
                    | and
                    a(href="http://ryanfait.com/sticky-footer/") Ryan Fait
                    | .
        include includes/scripts